In [ ]:
def prime(n):
  if (n==1):
    return False
  elif (n==2):
    return True
  
  else:

    for i in range(2,n):
      
      if (n % i == 0):
        return False
    
    return True

prime(75)

False

In [ ]:
newList = []

def unique_list(myList):

    for item in myList:

      if item not in newList:
        newList.append(item)

    return newList
            
unique_list([1,2,2,3,3,4,4,4,5,6,7,8,8,8,8,9,9,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
import datetime

birth = int(input("Enter year: "))
current_time = datetime.datetime.now()
age = current_time.year - birth
age

Enter year: 1998

23

In [ ]:
def factorial(n):
    if n == 1:
        return n
    elif n>1:
        return n*factorial(n-1)
factorial(3)

6

In [ ]:
def perfect(n):
    sums = 0

    for i in range(1,n):
        if (n%i==0):  
            sums = sums+i  
    
    if(sums==n):
        print("The entered number is a perfect number")  
    else:  
        print("The entered number is not a perfect number")
perfect(28)

The entered number is a perfect number

In [ ]:
def pascal(n):
  trow = [1]
  y = [0]
  for x in range(max(n,0)):
     print(trow)
     trow=[l+r for l,r in zip(trow+y, y+trow)]


pascal(15)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]
[1, 11, 55, 165, 330, 462, 462, 330, 165, 55, 11, 1]
[1, 12, 66, 220, 495, 792, 924, 792, 495, 220, 66, 12, 1]
[1, 13, 78, 286, 715, 1287, 1716, 1716, 1287, 715, 286, 78, 13, 1]
[1, 14, 91, 364, 1001, 2002, 3003, 3432, 3003, 2002, 1001, 364, 91, 14, 1]